{% extends 'base.html' %} 
{% load static %}

{% block title %}
    {{ name }} :: {{ block.super }}
{% endblock %}

{% block content %}
    <h5> Автор: {{  name.user}} </h5>
    {% if request.user.is_authenticated and request.user == name.user or request.user.is_superuser  %}
    <h2> {{ name }}  <a href="view/" class="text-decoration-none" title="Редактировать локацию">  &#9998; </a> </h2>
    {% else %}
        <h2> {{name }} </h2>
    {% endif %}
        <div class="col-md-12">
            <div class="row">
                {% for monster in monsters %} 
               
                    <div class="card col-md-2 p-0 mb-3 mt-3"> 
                        <div class="card-body text-center">
                            <img src="{{ monster.monster_img.url }}" alt="image" class="img-fluid rounded-start" width="100px" height="150px"/>
                            <h6 class="card-title">   
                                <a href="/monster/{{ monster.slug }}/" class="text-decoration-none"> {{ monster.name }} </a>
                            </h6>
                            <div class="card-body text-center">
                                <a href="/monster/{{ monster.slug }}/" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>             
                    </div>
                {% endfor %}    
            </div>    
        </div>
{% endblock content %} 