{% extends 'base.html' %} 
{% load static %}
{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}
{% block content %}

    <h1>Поиск</h1>
    {% if last_question %}
  
    {{ last_question }}
        {% for object in last_question %}
            <div>
                <a href="{{ object.name }}">
                    <h2>{{ object.itle }}</h2>
                </a>
                {{ object.content|safe }}
                <p><a class="btn btn-default btn-sm" href="{{ object.get_absolute_url }}">Читать далее</a></p>
            </div>
        {% endfor %}
        {%  url 'last_question' %}
    {% else %}
        <p>Не найдено публикаций по вашему запросу<br>Попробуйте повторить запрос с другой формулировкой</p>
    {% endif %}
{% endblock %}






<ul class="nav justify-content-end">
  <li class="nav-item">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
      <button type="button" class="btn btn-light btn-outline-primary">Поиск</button>
    </form>
  </li>
  <li class="nav-item">
    {% if request.user.is_authenticated %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.username }}
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
        <li><a class="dropdown-item" href="{% url 'createlocation' %}">Добавить локацию</a></li>
        <li><a class="dropdown-item" href="{% url 'createmonster' %}">Добавить монстра</a> </li> 
        <li><a class="dropdown-item" href="{% url 'createitem' %}">Добавить предмет</a></li>
        <li><a class="dropdown-item" href="{% url 'createcategory' %}">Добавить категорию предмета</a></li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <form action="{% url 'logoutuser' %}" method="POST">
            {% csrf_token %}
            <li><button type="submit" class="btn btn-light">Выйти</button></li>
          </form>
        </li>        
      </ul>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Вход/Регистрация
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
        <li><a class="dropdown-item" href="{% url 'signupuser' %}">Регистрация</a></li>
        <li><a class="dropdown-item" href="{% url 'loginuser' %}">Авторизация</a></li>
      </ul>
    </li>
  {% endif %}  
  </li>
</ul>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-end" >
  <div class="container-fluid ">
    <a class="navbar-brand" href="/admin">Лого</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">sdfsdf</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav  me-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">Главная</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{% url 'createlocation' %}">Добавить локацию</a></li>
              <li><a class="dropdown-item" href="{% url 'createmonster' %}">Добавить монстра</a> </li> 
              <li><a class="dropdown-item" href="{% url 'createitem' %}">Добавить предмет</a></li>
              <li><a class="dropdown-item" href="{% url 'createcategory' %}">Добавить категорию предмета</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <form action="{% url 'logoutuser' %}" method="POST">
                  {% csrf_token %}
                  <li><button type="submit" class="btn btn-light">Выйти</button></li>
                </form>
              </li>        
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Вход/Регистрация
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{% url 'signupuser' %}">Регистрация</a></li>
              <li><a class="dropdown-item" href="{% url 'loginuser' %}">Авторизация</a></li>
            </ul>
          </li>
        {% endif %}     
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
        <button type="button" class="btn btn-light btn-outline-primary">Поиск</button>
      </form>
    </div>
  </div>
</nav>





 





<div class="dropdown">
  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/admin">Главная</a>
      </li>
      <li class="nav-item dropdown">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      {% if request.user.is_authenticated %}
          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          {{ user.username }}
          </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'createlocation' %}">Добавить локацию</a></li>
          
           <li>
            
            <a class="dropdown-item" href="{% url 'createmonster' %}">Добавить монстра</a>  </li> 
  
          <li><a class="dropdown-item" href="{% url 'createitem' %}">Добавить предмет</a></li>
          
          <li><a class="dropdown-item" href="{% url 'createcategory' %}">Добавить категорию предмета</a></li>
          <li>
              <form action="{% url 'logoutuser' %}" method="POST">
                  {% csrf_token %}
                  <li><button type="submit" class="btn btn-light">Выйти</button></li>
                  </form>
             </li>
  
            <!-- <li><a class="dropdown-item" href="{% url 'logoutuser' %}" role="button">exit</a></li> -->
          
        </ul>
        {% else %}
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Вход/Регистрация
          </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'signupuser' %}">Регистрация</a></li>
          <li><a class="dropdown-item" href="{% url 'loginuser' %}">Авторизация</a></li>
        </ul>
      {% endif %}      
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    
  
    </div>
  
  







<div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-expanded="false">
      Dropdown trigger
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
      ...
    </ul>
  </div>
  
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>


<nav class="navbar  nav-tabs navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin">R2 Items</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse dropdown" id="navbarSupportedContent">
        <div class="dropdown">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is.authenticated %}
               
                <li class="nav-item"> 
                    <a class="nav-link active" aria-current="page" href="{% url 'createlocation' %}">Главная</a>
                </li>
                <form action="{% url 'logoutuser' %}" method="POST">
                    {% csrf_token %}
                   <button type="submit"> Выйти </button>
                </form>
          {% else %} 
            <li class="nav-item">
                <a class="nav-link" href="{% url 'loginuser' %}"> Авторизация</a>
            </li>
            <li class="nav-item"></li>
                <a class="nav-link" href="{% url 'signupuser' %}"> Регистрация</a>
            </li>
            <li class="nav-item dropdown">
                <div class="dropdown"></div>
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">{{ user.username }}</a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li><a class="dropdown-item" href="{% url 'createlocation' %}">Action</a></li>
                  <li><a class="dropdown-item" href="{% url 'signupuser' %}">Another action</a></li>
                  <li><a class="dropdown-item" href="{% url 'loginuser' %}">Something else here</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item" href="{% url 'createlocation' %}">Separated link</a></li>
                </ul>
              </li>
            
        </ul>
    </div>
    {% endif %}
      </div>
    </div>
   
  </nav>








        
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Авторизация</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'registration' %}">Регистрация</a>
        </li>
        {% else %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'account' %}">Личный кабинет</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
        </li>
        {% endif %}









